<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/community/community-main.js}"></script>

    <link th:href="@{/css/navbar.css}" rel="stylesheet">

    <style>
        #main {
            margin-top: 3em;
        }

        #add-article-btn {
            margin-top: 1em;
        }
    </style>
</head>
<body>
<!-- Bootstrap Navigation Bar -->

<!-- Bootstrap Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/home}"><img class="logo" th:src="@{/image/fruntier-logo.png}"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/running}">Run!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/community}">Together</a>
            </li>
        </ul>
    </div>
    <div th:switch="${not_logged_in}">
        <a class="btn btn-primary" role="button" th:case="${true}" th:href="@{/user/login}">Login</a>
        <a class="btn btn-primary" role="button" th:case="${null}" th:href="@{/user/home}">User Page</a>
    </div>
</nav>

<!-- Rest of your homepage content goes here, possibly using Bootstrap's grid system for layout -->

<div id="main" class="container">
    <div id="articles-card" class="card">
        <div class="card-header">
            Articles
        </div>
        <ul class="list-group list-group-flush">
            <li th:each="article: ${articleList}"
                th:text="${article.title}"
                th:onclick="|window.location.href='@{/community/article/{articleId}(articleId=${article.id})}'|"
                class="list-group-item"
            ></li>
        </ul>
    </div>

    <div class="row">
        <button type="button" id="add-article-btn" class="col-md-1 offset-md-10 btn btn-primary">
            add
        </button>
    </div>
</div>



</body>
</html>
