<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/community/new-article.js}"></script>

    <link th:href="@{/css/navbar.css}" rel="stylesheet">

    <style>
        #main {
            margin-top: 3em;
        }

        #add-article-btn {
            margin-top: 1em;
        }
        .inline-fieldset label {
            display: inline-block;
        }
    </style>
</head>
<body>
<!-- Bootstrap Navigation Bar -->
<div th:replace="layout :: navbar"></div>
<!-- Rest of your homepage content goes here, possibly using Bootstrap's grid system for layout -->

<div id="main" class="container">
    <form id="article-form">
        <fieldset>
            <legend class="row">제목</legend>
            <input type="text" name="title" class="row form-control" id="title">
        </fieldset>
        <br>
        <fieldset class="inline-fieldset">
            <label for="run-together">글 종류 : </label>
            <select name="type" id="run-together">
                <option value="NORMAL">기본</option>
                <option value="RUN_TOGETHER">같이 달려요!</option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <legend class="row">글</legend>
            <textarea name="content" class="row form-control" rows="20"></textarea>
        </fieldset>
        <br>
        <div class="row justify-content-center">
            <button id="article-submit-btn" type="button" class="btn btn-primary w-75">Submit</button>
        </div>
    </form>
</div>


</body>
</html>
