<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- Other CSS and JS dependencies -->
</head>
<body>
<!-- Bootstrap Navigation Bar as a Thymeleaf fragment -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{/home}"><img class="logo" th:src="@{/image/fruntier-logo.png}"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/user/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/message/conversationList}">Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/running}">Run!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/community}">Together</a>
            </li>
        </ul>
    </div>
    <div th:switch="${not_logged_in}">
        <a class="btn btn-primary" role="button" th:case="${true}" th:href="@{/user/login}">Login</a>
        <a class="btn btn-primary" role="button" th:case="${null}" th:href="@{/user/logout}">Logout</a>
    </div>
</nav>

<!-- Placeholder for page-specific content -->
<div th:fragment="content">
    <!-- Default content or overridden by specific pages -->
</div>

<script src="js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Other JavaScript files -->
</body>
</html>