<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes List</title>
</head>
<body>
<h1>Routes List</h1>

<table border="1">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Title</th>
        <th>Recommendation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="route : ${routes}">
        <td th:text="${route.userId}"></td>
        <td th:text="${route.title}"></td>
        <td th:text="${route.recommendRoute}"></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript" th:src="@{/js/layout.js}"></script>
</body>
</html>
