<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="../css/userRequest.css">
    <title>UserRequest</title>

    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body>

<!-- Bootstrap Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/home}"><img class="logo" th:src="@{/image/fruntier-logo.png}"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/running}">Run!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/community}">Together</a>
            </li>
        </ul>
    </div>
    <div th:switch="${not_logged_in}">
        <a class="btn btn-primary" role="button" th:case="${true}" th:href="@{/user/login}">Login</a>
        <a class="btn btn-primary" role="button" th:case="${null}" th:href="@{/user/home}">User Page</a>
    </div>
</nav>

<div class="container">
    <div class="left">
        <p id="UserRequest">추천 경로 생성</p>
        <p>출발지와 도착지를 선택해주세요.</p>
        <div id="map"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5cf8836fb662afb5dbdf8f0c054fce52&libraries=drawing"></script>
        <script type="text/javascript" th:src="@{/js/userRequest.js}"></script>
        <script>
            document.getElementById('clickLatlng')
        </script>
    </div>

    <div class="right">
        <div class="map_buttons">
            <p>지도에서 원하는 위치를 선택한 뒤, 설정 버튼을 누르세요</p>
            <button id="setStartVertex">출발지 설정</button>
            <button id="setEndVertex">도착지 설정</button>
        </div>
        <div class="input_expected_distance">
            <label for="expectedDistance">뛰고 싶은 거리(m) : </label>
            <input type="number" id="expectedDistance"/>
        </div>
        <div class="generate_recommend_route">
            <button id="generateRoute">추천 경로 만들기</button>
        </div>
    </div>
</div>
</body>
</html>