#article-title {
    font-size: larger;
    font-weight: bold;
}

#article-author {
    font-size: smaller;
}

.comment-author {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.comment-top {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}



.comment-edit-content {
    width: 100%;
}

.comment-edit-content-text {
    height: 2em;
    flex-grow: 0.9;
    margin-right: 1em;
}

textarea {
  box-sizing: border-box;
  resize: none;
}